<div id="<%= dom_id user_project_role %>">
  <p>
    <strong>User:</strong>
    <%= user_project_role.user.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= user_project_role.project.name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user_project_role.role %>
  </p>

</div>
