<h1>Editing user project role</h1>

<%= render "form", user_project_role: @user_project_role %>

<br>

<div>
  <%= link_to "Show this user project role", @user_project_role %> |
  <%= link_to "Back to user project roles", user_project_roles_path %>
</div>
