<div id="<%= dom_id project_group_mapping %>">
  <p>
    <strong>Project:</strong>
    <%= project_group_mapping.project_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= project_group_mapping.group %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= project_group_mapping.role %>
  </p>

</div>
