<h1>Editing project group mapping</h1>

<%= render "form", project_group_mapping: @project_group_mapping %>

<br>

<div>
  <%= link_to "Show this project group mapping", @project_group_mapping %> |
  <%= link_to "Back to project group mappings", project_group_mappings_path %>
</div>
