<div id="<%= dom_id comment %>">
  <p class="p-0 text-muted">
    Created: <%=l comment.created_at %> by <%= comment.creator.name %>
  </p>
  <p>
    <%= simple_format(comment.content) %>
  </p>
  <hr />
</div>
