<h1>Editing tag group</h1>

<%= render "form", tag_group: @tag_group %>

<br>

<div>
  <%= link_to "Show this tag group", @tag_group %> |
  <%= link_to "Back to tag groups", tag_groups_path %>
</div>
