<div class="row border-bottom">
  <div class="col-1">
    <%= link_to ticket.identifier, ticket %>
  </div>
  <div class="col-7">
    <%= ticket.title %>
  </div>
  <div class="col-2">
    <%= ticket.tags.select(&:is_area).map { |e| e.name }.join(", ") %>
  </div>
  <div class="col-2">
    <%= ticket.status_text %>
  </div>
</div>
