<% for board in Tag.where(is_board: true) %>
  <% tickets = Ticket.with_tag(board).where(status: [:new, :in_progress, :blocked]) %>
  <% if tickets.count > 0 %>
    <h4 class="mt-3"><%= link_to board.name, board_path(board) %></h4>
    <% tickets.each do |ticket| %>
      <%= render 'item', ticket: ticket %>
    <% end %>
  <% end %>
<% end %>

<h4 class="mt-3">Backlog</h4>

<% @tickets.each_with_index do |ticket, i| %>
  <%= render 'item', ticket: ticket, i: i %>
<% end %>
