<div id="<%= dom_id tag %>">
  <p>
    <strong>Name:</strong>
    <%= tag.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= tag.project_id %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= tag.color %>
  </p>

</div>
