<h3>Tags</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Board</th>
    <th>Area</th>
    <th>Project</th>
    <th>Color</th>
  </tr>
  </thead>

  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, tag %></td>
      <td>
        <% if tag.is_board %>✅<% end %>
      </td>
      <td>
        <% if tag.is_area %>✅<% end %>
      </td>
      <td><%= tag.project.name %></td>
      <td><%= tag.color %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if can?(:create, Tag) %>
  <%= link_to 'New Tag', new_tag_path, class: 'btn btn-light' %>
<% end %>