<h2><%= @board.name %> Board</h2>

<div class="row">
<% for s in Ticket.status.values %>
  <div class="col kanban-col">
    <div class="header">
      <%= s.text %>
    </div>
    <% for ti in @tickets.where(status: s) %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to ti.title, ti %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= ti.identifier %></h6>
        </div>
      </div>
    <% end %>

  </div>
<% end %>
</div>
