<h1>Editing notification config</h1>

<%= render "form", notification_config: @notification_config %>

<br>

<div>
  <%= link_to "Show this notification config", @notification_config %> |
  <%= link_to "Back to notification configs", notification_configs_path %>
</div>
