// here your custom bootstrap variables...

$link-color: #6a598f;

@import "bootstrap";

.login {
  .logo {
    width: 50%;
    height: 5rem;
  }
}


footer {
  color: #aaa;
  font-size: 80%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

@mixin gray-links {
  a {
    text-decoration: none;
    color: #999;
  }
}

@include gray-links;

.clipped-circle {
  clip-path: circle();
}

.kanban-col {
  background-color: #eeeeee;
  .header {
    text-align: center;
    padding: 2px;
    background-color: #ccc;
  }
}


p.login-links {
  font-size: 80%;
  @include gray-links;
}

.comment {
  .comment-info {
    color: $text-muted;
    font-size: 80%;

    @include gray-links;
  }
}

.badge a {
    color: white;
    text-decoration: none;
}