// here your custom bootstrap variables...

$link-color: #6a598f;
$font-size-root: 14px;

@import "bootstrap";
@import "atom-one-light.min";
@import "choices.min.css";

.login {
  .logo {
    width: 50%;
    height: 5rem;
  }
}

main {
  font-size: 10pt;
}


footer {
  color: #aaa;
  font-size: 80%;

  a {
    color: inherit;
    text-decoration: none;
  }
}

@mixin gray-links {
  a {
    text-decoration: none;
    color: #999;
  }
}

@include gray-links;

.clipped-circle {
  clip-path: circle();
}

.kanban-col {
  background-color: #eeeeee;
  .header {
    text-align: center;
    padding: 2px;
    background-color: #ccc;
  }
}

.sla-warning {
  border-left: 3px solid orange;
  .card-body {
    background-color: #ffeecf;
  }
}

.sla-error {
  border-left: 3px solid red;
  .card-body {
    background-color: #fcd8d8;
  }
}


p.login-links {
  font-size: 80%;
  @include gray-links;
}

.comment {
  .comment-info {
    color: $text-muted;
    font-size: 80%;

    @include gray-links;
  }
}

.badge a {
    color: white;
    text-decoration: none;
}

.ticket-flag {
  background-color: #fefeaa;
}

.foldable-list {
  h5 {
    cursor: pointer;
  }
  h5::after {
    content: " -";
  }
}

.foldable-list.folded {
  h5::after {
    content: " +";
  }
  ul {
    display: none;
  }
}