// here your custom bootstrap variables...
@import "bootstrap";

footer {
  color: #aaa;
  font-size: 80%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1em;

  a {
    color: inherit;
    text-decoration: none;
  }
}